<div style="height: 100%; width: 100%; overflow: hidden; position: relative; color: white" layout="column" class="wave-app">
	<link type="text/css" rel="stylesheet" href="/ui/modules/apps/floodsealevel/app.css" />

	<div class="socials-container">
		<a href="http-external://go.beamng.com/vr"></a>

		<div class="discord-container">
			<img
				ng-src="/ui/modules/apps/floodsealevel/discord.svg"
				src="/ui/modules/apps/floodsealevel/discord.svg"
				href="http-external://discord.com" 
				alt="Join our Discord"
				ng-click="discord()"
				ng-mouseover="showSocialsText('Copy Discord Link')">

		</div>
		<div class="socials-text"><span></span></div>
		<div class="patreon-container">
				<img
					ng-src="/ui/modules/apps/floodsealevel/patreon.svg"
					src="/ui/modules/apps/floodsealevel/patreon.svg" 
					href="http-external://patreon.com" alt="Join our Patreon"
					ng-click="patreon()"
					ng-mouseover="showSocialsText('Copy Patreon Link')">
		</div>
		

	</div>

	<div class="flood-status" ng-class="getFloodStatusClass()">
		<span class="flood-status-text">{{getFloodStatusText()}}</span>
	</div>

	<div id="app-container">
		<img
			class="carIcon"
			ng-class="getCarIconClass()"
			ng-src="/ui/modules/apps/floodsealevel/carOffroadOutlineSide.svg"
			src="/ui/modules/apps/floodsealevel/carOffroadOutlineSide.svg"
		/>

		<div class="metrics-container">
			<div class="sea-level-difference">
				<span ng-if="seaLevel !== null">{{difference}}M</span>
			</div>
			<div class="flood-speed">
				<span ng-if="floodSpeed !== null">{{floodSpeed}}m/s</span>
				<span class="difficulty-indicator" ng-class="getDifficultyClass()" ng-if="floodSpeed !== null">{{getDifficultyText()}}</span>
			</div>
		</div>
		
		<div class="sea" id="sea-container" ng-style="{'transform': 'translateY(' + seaPosition + 'px)'}">
			<canvas id="waveCanvas"></canvas>
		</div>
	</div>

	<script type="text/javascript" src="./wave/js/libs/TweenLite.min.js"></script>
	<script type="text/javascript" src="./wave/js/libs/EasePack.min.js"></script>
	<script type="text/javascript" src="./wave/js/libs/signals.min.js"></script>
	<script type="text/javascript" src="./wave/js/Wave.js"></script>
</div>